@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Reset Password</title>
</head>
<body>
    <div>
        <h2>@ViewBag.Message</h2>
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <input type="email" name="email" id="email" placeholder="Emailinizi giriniz." /><br />
            <input type="submit" vaue="Şifremi sıfırla" />
        </form>
    </div>
</body>
</html>

